.tank {
    position: relative;
    z-index: 2;
    height: 1175px;
    background-image: url(../../images/MainBg.png);
    background-color: #1C1C1C;
    background-repeat: no-repeat;   
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.tank_wrapper {
    padding: 0 0 0 140px;
    margin-top: auto;
    position: relative;
}

.tank__online {
    position: absolute;
    top: 20px;
    right: -60px;
    width: 91px;
    height: 34px;
    background: #499D7B;
    border: 4px solid #363636;
    border-radius: 8px 8px 8px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tank__text {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.tank__bg-image {
    width: 100%;
    position: absolute;
    bottom: -200px;
    left: 0;
    z-index: -1;
}

.tank__title {
    position: relative;
    left: -8px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Quadrat-Grotesk-New-Bold', Arial, sans-serif;
    font-weight: 600;
    font-size: 100px;
    line-height: 100px;
    /* display: flex; */
    align-items: center;
    margin-bottom: 50px;
}

.tank__span-title {
    font-size: 120px;
}

.tank__subtitle {
    margin: 0;
    width: 484px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
    margin-bottom: 50px;

}

.tank__links-wrapper {
    display: flex;
}

.tank__link {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 165px;
    height: 73px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
}

.tank__link_yellow-button {
    background: url(../../images/Shards-button.svg), linear-gradient(180deg, #FFA800 0%, #FF9313 100%);
    color: #000000;
    margin-right: 30px;
}

.tank__link_white-button {
    box-sizing: border-box;
    width: 240px;
    height: 73px;
    border: 2px solid #FFFFFF;
}