.carousel {
    width: 100%;
    position: relative;
    height: 280px;
    margin-top: auto;
    align-self: center;
}

.carousel__wrapper {
    z-index: 3;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 110px 0 110px;
}

.carousel__arrow {
    box-sizing: border-box;
    width: 40px;
    padding: 0px;
    background: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 30px;
}

.carousel__arrow:disabled {
    cursor: default;
}
